In [163]:
import pandas_datareader

In [164]:
pandas_datareader.__version__

'0.10.0'

In [165]:
from pandas_datareader import data

In [166]:
btc = data.DataReader('BTC-USD', 'yahoo', start='2010/01/01', end='2021/01/01')

In [167]:
btc['Adj Close'].index

DatetimeIndex(['2014-09-16', '2014-09-17', '2014-09-18', '2014-09-19',
               '2014-09-20', '2014-09-21', '2014-09-22', '2014-09-23',
               '2014-09-24', '2014-09-25',
               ...
               '2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31',
               '2021-01-01', '2021-01-02'],
              dtype='datetime64[ns]', name='Date', length=2296, freq=None)

In [168]:
vti = data.DataReader('VTI', 'yahoo',start='2010/01/01', end='2021/01/01')

In [169]:
vti['Adj Close'].index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [170]:
frames = [btc, vti]

In [171]:
result = pd.concat(frames, axis=1, join='inner')

In [172]:
df = result['Adj Close']

In [173]:
df

               Adj Close   Adj Close
Date
2014-09-16    457.334015   90.918427
2014-09-17    424.440002   91.015015
2014-09-18    394.795990   91.480415
2014-09-19    408.903992   91.304802
2014-09-22    435.790985   90.461815
...                  ...         ...
2020-12-24  23735.949219  191.592346
2020-12-28  27084.808594  192.804581
2020-12-29  27362.437500  191.999725
2020-12-30  28840.953125  192.516418
2020-12-31  29001.720703  193.400757

[1583 rows x 2 columns]

In [174]:
df.columns = ['BTC', 'VTI']

In [175]:
ret = df.resample('Y').last().pct_change().mean()
ret

BTC    3.172237
VTI    0.134827
dtype: float64

In [176]:
var = df.resample('Y').last().pct_change().var()
var

BTC    30.967534
VTI     0.018718
dtype: float64

In [177]:
cov_matrix = df.resample('Y').last().pct_change().cov()
cov_matrix

           BTC       VTI
BTC  30.967534  0.315202
VTI   0.315202  0.018718

In [178]:
weights = [0.10, 0.90]

In [179]:
import numpy as np
ret_p = np.dot(ret, weights)
ret_p

0.4385679518375347

In [180]:
var_p = cov_matrix.mul(weights, axis=0).mul(weights, axis=1).sum().sum()
var_p

0.3815733674912257

In [181]:
sd_p = np.sqrt(var_p)
sd_p

0.6177162516003815

In [182]:
daily_sd_p = sd_p / np.sqrt(250)
daily_sd_p

0.03906780605517673

In [183]:
daily_ret_p = ret_p / 250
daily_ret_p

0.001754271807350139

In [184]:
(daily_ret_p-1.65*daily_sd_p)*-1*100000

6270.760818369146

In [185]:
(daily_ret_p-2.33*daily_sd_p)*-1*100000

8927.371630121164